@charset "UTF-8";

@font-face {
  font-family: "GentiumBookBasic-Bold";
  font-display: swap;
  src: url("../fonts/GentiumBookBasic-Bold.woff") format("woff"), url("../fonts/GentiumBookBasic-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  font-display: swap;
  src: url("../fonts/Georgia.woff") format("woff"), url("../fonts/Georgia.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Regular";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro-Regular";
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Italic";
  font-display: swap;
  src: url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "YesevaOne-Regular";
  font-display: swap;
  src: url("../fonts/YesevaOne-Regular.woff") format("woff"), url("../fonts/YesevaOne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: times new roman;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes showMenu {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1.0;
  }
}

@keyframes showMenu {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes open__menu {
  0% {
    margin: 500px 0px 0px 0px;
  }

  100% {
    margin: 0px 0px 0px 0px;
  }
}

@keyframes open__menu {
  0% {
    margin: 500px 0px 0px 0px;
  }

  100% {
    margin: 0px 0px 0px 0px;
  }
}

/*style*/

body {
  font-family: GentiumBookBasic-Bold, Georgia, Lato-Regular, MyriadPro-Regular, OpenSans-Bold, OpenSans-Italic, OpenSans-Regular, YesevaOne-Regular, sans-serif;
  font-size: 16px;
  height: 100%;
  min-width: 315px;
  background-color: lavender;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*=====================================header================================================*/

.header {
  background-image: url(../img/Bg.png);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 35px black;
          box-shadow: inset 0 0 35px black;
  background-attachment: fixed;
}

.header #scrollMenu {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.header #scrollMenu.color__menu {
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.header #scrollMenu.color__menu:hover {
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  opacity: 1;
  background-color: rgba(25, 25, 25, 0.9);
  -webkit-box-shadow: 0 0 5px rgba(25, 25, 25, 0.9);
          box-shadow: 0 0 5px rgba(25, 25, 25, 0.9);
}

.header #scrollMenu.color__menu .header__navigation .navbar .socialLogo ul li:hover {
  -webkit-box-shadow: 0px 0px 3px rgba(242, 244, 244, 0.5);
          box-shadow: 0px 0px 3px rgba(242, 244, 244, 0.5);
}

.header #scrollMenu.color__menu .header__navigation .navbar .socialLogo ul li:active {
  -webkit-box-shadow: inset 0 0 2px rgba(242, 244, 244, 0.5);
          box-shadow: inset 0 0 2px rgba(242, 244, 244, 0.5);
}

.header__navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1206px;
  margin: 0 auto;
}

.header__navigation .navbar ul a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header__navigation .navbar ul a:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.header__navigation .logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 156px;
          flex: 0 0 156px;
}

.header__navigation .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__navigation .navbar ul {
  z-index: 15;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 810px;
  font-size: 21px;
  padding: 51px 0px 0px 0px;
}

.header__navigation .navbar ul #marker {
  position: absolute;
  height: 3px;
  opacity: 0.71;
  left: 0;
  width: 0;
  background-color: white;
  top: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-radius: 4px;
}

.header__navigation .navbar ul #marker_2 {
  display: none;
}

.header__navigation .navbar ul a {
  position: relative;
  text-transform: capitalize;
  text-decoration: none;
  font-family: GentiumBookBasic-Bold;
  color: #ffffff;
}

.header__navigation .navbar .socialLogo {
  margin: 51px 0px 0px 20px;
  width: 95px;
}

.header__navigation .navbar .socialLogo ul {
  position: relative;
  width: 100%;
}

.header__navigation .navbar .socialLogo ul li {
  position: absolute;
  top: 0;
  height: 23px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__navigation .navbar .socialLogo ul li:hover {
  -webkit-box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.header__navigation .navbar .socialLogo ul li:active {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  -webkit-transform: scale(0.9, 0.9);
      -ms-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}

.header__navigation .navbar .socialLogo ul #twitterMenu {
  left: 0;
  width: 19px;
  background-image: url(../img/Social.png);
  background-repeat: no-repeat;
  background-position: 0 2px;
}

.header__navigation .navbar .socialLogo ul #youTubeMenu {
  left: 37px;
  width: 21px;
  background-image: url(../img/Social.png);
  background-repeat: no-repeat;
  background-position: -36px 1px;
}

.header__navigation .navbar .socialLogo ul #facebookMenu {
  left: 74px;
  width: 18px;
  background-image: url(../img/Social.png);
  background-repeat: no-repeat;
  background-position: -68px 1px;
}

.header__decoration {
  width: 232px;
  margin: 0 auto;
}

.header__main {
  max-width: 980px;
  margin: 0 auto;
}

.header__main h1 {
  margin: 0;
  padding: 225px 0px 35px 0px;
  opacity: 0.92;
  text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.64);
  color: #ffffff;
  font-family: YesevaOne-Regular;
  font-size: 90px;
  font-weight: 400;
  text-align: center;
}

.header__main .header__buttonForm {
  padding: 35px 0px 145px 0px;
  max-width: 495px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__main .header__buttonForm .button {
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  color: #f8fafa;
  font-family: Lato-Regular;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 24px 52px 20px 51px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid #ffffff;
}

.header__main .header__buttonForm .button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #000000;
}

.header__main .header__buttonForm .button:active {
  -webkit-box-shadow: inset 0 15px 15px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 15px 15px rgba(255, 255, 255, 0.5);
}

/*=====================================section1================================================*/

.section1 {
  background-image: url(../img/pattern1.png);
  background-size: cover;
  background-position: center;
}

.section1__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1066px;
  margin: 0px auto;
  padding: 55px 0px 0px 0px;
}

.section1__body .aboutPlate {
  text-align: center;
  margin: 50px 0px 0px 0px;
}

.section1__body .aboutPlate h2 {
  color: #cc9900;
  font-family: YesevaOne-Regular;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0px 0px 15px 0px;
}

.section1__body .aboutPlate p {
  color: #4c4c4c;
  font-family: Lato-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 32px 0px 52px 0px;
}

.section1__body .aboutPlate .signature {
  margin: 0px 0px 20px 80px;
}

/*=====================================section2================================================*/

.section2 {
  background-image: url(../img/bazilik.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 0 35px black;
          box-shadow: inset 0 0 35px black;
  background-attachment: fixed;
}

.section2__ingredients {
  max-width: 1170px;
  margin: 0 auto;
  padding: 100px 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section2__ingredients .fineIngredients {
  color: #ffffff;
  max-width: 570px;
  border: 1px solid #fbf7c0;
  background-color: rgba(0, 0, 0, 0.67);
  text-align: center;
}

.section2__ingredients .fineIngredients h2 {
  font-family: YesevaOne-Regular;
  font-size: 36px;
  font-weight: 400;
  margin: 83px 0px 16px 0px;
}

.section2__ingredients .fineIngredients p {
  font-family: Lato-Regular;
  font-weight: 400;
  line-height: 24px;
  margin: 30px 14% 0px 14%;
}

.section2__ingredients .fineIngredients .blockImages {
  margin: 70px 14% 77px 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*=====================================section3================================================*/

.section3 {
  background-image: url(../img/pattern.png);
  background-size: cover;
  background-position: center;
}

.section3__menu {
  padding: 107px 0px 98px 0px;
  text-align: center;
}

.section3__menu .menu__row {
  max-width: 1055px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section3__menu .menu__row .menu__column {
  max-width: 433px;
  margin: 0px 3%;
}

.section3__menu .menu__row .menu__column .nameOfDishes {
  text-align: center;
}

.section3__menu .menu__row .menu__column .nameOfDishes h2 {
  color: #cc9900;
  font-family: YesevaOne-Regular;
  font-size: 36px;
  font-weight: 400;
  line-height: 24px;
  padding: 0px 0px 22px 0px;
}

.section3__menu .menu__row .menu__column .nameOfDishes .menuAbout {
  margin: 32px 0px 0px 0px;
  text-align: left;
  position: relative;
}

.section3__menu .menu__row .menu__column .nameOfDishes .menuAbout .special {
  top: -8px;
  left: -12px;
  height: 80px;
  width: 405px;
  border: 2px solid #c89f2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
}

.section3__menu .menu__row .menu__column .nameOfDishes .menuAbout .special__text {
  width: 69px;
  height: 22px;
  background-color: rgba(200, 159, 45, 0.6);
  color: #f8fafa;
  font-family: Lato-Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  margin: -24px -2px 0px 0px;
  line-height: 18px;
}

.section3__menu .menu__row .menu__column .nameOfDishes .menuAbout__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #c89f2d;
  font-family: YesevaOne-Regular;
  font-size: 21px;
}

.section3__menu .menu__row .menu__column .nameOfDishes .menuAbout__line {
  margin: 10px 0px 15px 0px;
  width: 100%;
  height: 2px;
  background-color: #c89f2d;
}

.section3__menu .menu__row .menu__column .nameOfDishes .menuAbout__text {
  font-family: Lato-Regular;
  font-weight: 400;
}

.salads {
  margin: 70px 0px 0px 0px;
}

#closeMenu {
  display: none;
}

.close {
  display: none !important;
}

/*=====================================section3================================================*/

.secton4 .gest {
  background-image: url(../img/barbqu.png);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset 0 0 35px black;
          box-shadow: inset 0 0 35px black;
  background-attachment: fixed;
}

.secton4 .gest__reviews {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.67);
  text-align: center;
  max-width: 770px;
  margin: 100px 4%;
  -webkit-box-shadow: 0 0 1px #fff;
          box-shadow: 0 0 1px #fff;
}

.secton4 .gest__reviews h2 {
  margin: 82px 0px 23px 0px;
  font-family: YesevaOne-Regular;
  font-size: 36px;
  font-weight: 400;
  text-transform: capitalize;
}

.secton4 .gest__reviews img {
  width: 247px;
  height: 24px;
}

.secton4 .gest__reviews p {
  color: #dde0df;
  font-family: GentiumBookBasic-Bold;
  font-size: 25px;
  font-weight: 300;
  line-height: 45px;
  margin: 30px 9.6% 40px 9.6%;
}

.secton4 .gest__reviews p.ny {
  font-family: Lato-Regular;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin: 0px 0px 70px 0px;
}

/*=====================================section3================================================*/

.section5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../img/pattern.png);
  background-size: cover;
  background-position: center;
}

.section5__row {
  margin: 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1100px;
}

.section5__row .section5__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 570px;
}

.section5__row .section5__column .margin30 {
  margin: 0px 30px;
}

.section5__row .section5__column div img {
  width: 100%;
}

.section5__row .section5__column .imgFruits {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 505px;
}

.section5__row .section5__column .imgFruits img {
  width: 100%;
  height: 100%;
}

.section5__row .section5__column .rightFood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section5__row .section5__column .rightFood__about {
  text-align: center;
}

.section5__row .section5__column .rightFood__about h2 {
  color: #cc9900;
  font-family: YesevaOne-Regular;
  font-size: 36px;
  font-weight: 400;
  line-height: 24px;
}

.section5__row .section5__column .rightFood__about img {
  width: 247px;
  height: 24px;
  margin: 15px 0px 12px 0px;
}

.section5__row .section5__column .rightFood__about p {
  color: #4c4c4c;
  font-family: Lato-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 20px 0px 0px 0px;
}

.section5__row .section5__column .rightFood__registrationForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 45px 0px 0px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section5__row .section5__column .rightFood__registrationForm .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section5__row .section5__column .rightFood__registrationForm .form .form__up,
.section5__row .section5__column .rightFood__registrationForm .form .form__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 430px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section5__row .section5__column .rightFood__registrationForm .form .form__down {
  margin: 0px 0px 0px 0px;
}

.section5__row .section5__column .rightFood__registrationForm .form .form__control {
  position: relative;
  margin: 0px 0px 30px 0px;
}

.section5__row .section5__column .rightFood__registrationForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 30px;
  width: 200px;
}

.section5__row .section5__column .rightFood__registrationForm form label {
  display: block;
  color: #c9a131;
  font-family: OpenSans-Regular;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.section5__row .section5__column .rightFood__registrationForm form input,
.section5__row .section5__column .rightFood__registrationForm form select {
  position: relative;
  padding: 0 !important;
  width: 200px;
  height: 36px;
  border: 1px solid #c8c6c6;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: OpenSans-Regular;
  outline: none;
  font-size: 14px;
  text-indent: 10px;
  font-style: italic;
  color: #7c7c7c;
  cursor: pointer;
}

.section5__row .section5__column .rightFood__registrationForm form input::-webkit-input-placeholder, .section5__row .section5__column .rightFood__registrationForm form select::-webkit-input-placeholder {
  display: block;
  font-style: italic;
}

.section5__row .section5__column .rightFood__registrationForm form input::-moz-placeholder, .section5__row .section5__column .rightFood__registrationForm form select::-moz-placeholder {
  display: block;
  font-style: italic;
}

.section5__row .section5__column .rightFood__registrationForm form input:-ms-input-placeholder, .section5__row .section5__column .rightFood__registrationForm form select:-ms-input-placeholder {
  display: block;
  font-style: italic;
}

.section5__row .section5__column .rightFood__registrationForm form input::-ms-input-placeholder, .section5__row .section5__column .rightFood__registrationForm form select::-ms-input-placeholder {
  display: block;
  font-style: italic;
}

.section5__row .section5__column .rightFood__registrationForm form input::placeholder,
.section5__row .section5__column .rightFood__registrationForm form select::placeholder {
  display: block;
  font-style: italic;
}

.section5__row .section5__column .rightFood__registrationForm form input:hover,
.section5__row .section5__column .rightFood__registrationForm form select:hover {
  border: 1px solid #c89f2d;
}

.section5__row .section5__column .rightFood__registrationForm form select {
  background-color: rgba(255, 255, 255, 0.3);
  width: 202.5px;
  height: 38.5px;
}

.section5__row .section5__column .rightFood__registrationForm form select option {
  font-style: italic;
  cursor: pointer;
  color: #191919;
  font-family: OpenSans-Regular;
  font-size: 14px;
  font-weight: 700;
}

.section5__row .section5__column .rightFood__registrationForm form button {
  width: 200px;
  height: 36px;
  border: 1px solid #c89f2d;
  background-color: #c89f2d;
  outline: none;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.section5__row .section5__column .rightFood__registrationForm form button:hover {
  background-color: rgba​ 200, 159, ​45, 0.5;
  -webkit-box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.section5__row .section5__column .rightFood__registrationForm form button:active {
  -webkit-box-shadow: inset 0 15px 15px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 15px 15px rgba(255, 255, 255, 0.5);
}

/*=====================================section3================================================*/

.footer {
  background-color: #191919;
  -webkit-box-shadow: 0 0 3px black;
          box-shadow: 0 0 3px black;
}

.footer .footerBody {
  max-width: 1072px;
  margin: 61px auto;
}

.footer .footerBody__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footerBody__row .footerBody__column {
  text-align: center;
}

.footer .footerBody__row .footerBody__column .aboutUS {
  max-width: 343px;
  margin: 0px 2% 0px 4%;
}

.footer .footerBody__row .footerBody__column .openHours {
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 2% 0px 2%;
}

.footer .footerBody__row .footerBody__column .openHours .cards {
  margin: 53px 0px 0px 0px;
}

.footer .footerBody__row .footerBody__column .openHours .cards ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footerBody__row .footerBody__column .openHours .cards ul li {
  height: 15px;
  width: 23px;
  background-image: url(../img/cards.png);
  background-repeat: no-repeat;
  left: 0;
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer .footerBody__row .footerBody__column .openHours .cards ul li:hover {
  -webkit-box-shadow: 0 1px 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0 1px 5px rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 2px;
}

.footer .footerBody__row .footerBody__column .openHours .cards ul li:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 1px 5px rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 2px;
}

.footer .footerBody__row .footerBody__column .openHours .cards ul #hz {
  background-position: 0 0px;
  width: 23px;
}

.footer .footerBody__row .footerBody__column .openHours .cards ul #paypal {
  background-position: -33px 0;
  width: 23px;
}

.footer .footerBody__row .footerBody__column .openHours .cards ul #visa {
  background-position: -65px 0;
  width: 23px;
}

.footer .footerBody__row .footerBody__column .openHours .cards ul #discover {
  background-position: -98px 0;
  width: 23px;
}

.footer .footerBody__row .footerBody__column .ourLocation {
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 4% 0px 2%;
}

.footer .footerBody__row .footerBody__column .ourLocation .socialLogo2 {
  margin: 52px 0px 0px 0px;
}

.footer .footerBody__row .footerBody__column .ourLocation .socialLogo2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footerBody__row .footerBody__column .ourLocation .socialLogo2 ul li {
  height: 17px;
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  left: 0;
  margin: 0 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.footer .footerBody__row .footerBody__column .ourLocation .socialLogo2 ul li:hover {
  -webkit-box-shadow: 0 1px 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0 1px 5px rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 2px;
}

.footer .footerBody__row .footerBody__column .ourLocation .socialLogo2 ul li:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 1px 5px rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 2px;
}

.footer .footerBody__row .footerBody__column .ourLocation .socialLogo2 ul #fb {
  background-position: 0 0px;
  width: 10px;
}

.footer .footerBody__row .footerBody__column .ourLocation .socialLogo2 ul #yt {
  background-position: -20px 0;
  width: 16px;
}

.footer .footerBody__row .footerBody__column .ourLocation .socialLogo2 ul #tw {
  background-position: -46px 0;
  width: 16px;
}

.footer .footerBody__row .footerBody__column .ourLocation .socialLogo2 ul #bd {
  background-position: -73px 0;
  width: 16px;
}

.footer .footerBody__row .footerBody__column h3 {
  color: #fefefe;
  font-family: YesevaOne-Regular;
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}

.footer .footerBody__row .footerBody__column img {
  width: 200px;
  height: 20px;
  margin: 22px 0px;
}

.footer .footerBody__row .footerBody__column p {
  min-width: 200px;
  color: #ffffff;
  font-family: OpenSans-Regular;
  font-weight: 400;
  line-height: 24px;
}

@media (min-width: 851px) {
  .section3__menu .menu__button,
  .section3__menu #imgDivider {
    display: none !important;
  }

  .section3__menu .menu__row {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (max-width: 1170px) {
  .header__navigation .navbar {
    margin: 0px 2%;
  }

  .header__navigation .navbar ul {
    width: 650px;
  }

  .header__navigation .logo {
    margin-left: 2%;
  }

  .section1__body {
    padding: 55px 2% 0px 2%;
  }
}

@media (max-width: 1100px) {
  .section5__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .section5__row .section5__column .margin30 {
    margin: 0px 0px 0px 30px;
  }

  .section5__row .section5__column .rightFood {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 70px 0px 0px 0px;
  }
}

@media (max-width: 992px) {
  .header__navigation .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .header__navigation .navbar ul {
    width: 540px;
    font-size: 18px;
  }

  .header__navigation .navbar .socialLogo {
    margin: 20px 0 0 0;
  }

  .section1__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 35px 2% 0px 2%;
  }

  .section1__body .aboutPlate {
    margin: 10px 0px 0px 0px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .section1__body .aboutPlate p {
    margin: 30px 0px 25px 0px;
  }

  .section1__body .plate {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 auto;
  }

  .section1__body .plate img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 850px) {
  .section3__menu {
    padding: 5px 0 98px 0;
  }

  .section3__menu .menu__button {
    margin: 43px auto;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    font-family: GentiumBookBasic-Bold;
    font-size: 21px;
    background: transparent;
    border: #4c4c4c;
    color: #4c4c4c;
    text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.64);
    cursor: pointer;
    outline: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .section3__menu .menu__button:active {
    color: #7c7c7c;
  }

  .section3__menu #imgDivider {
    display: block;
  }

  .section3__menu .menu__row {
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-animation-name: open__menu;
            animation-name: open__menu;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
  }

  .section3__menu .menu__row .column1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .section3__menu .menu__row .column2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .appetisers {
    margin-top: 70px;
  }
}

@media (max-width: 768px) {
  .header #scrollMenu.color__menu {
    opacity: 1;
    background-color: rgba(25, 25, 25, 0.7);
    -webkit-box-shadow: 0 0 5px rgba(25, 25, 25, 0.7);
            box-shadow: 0 0 5px rgba(25, 25, 25, 0.7);
  }

  .header__navigation .navbar {
    -webkit-transform: translateX(-900px);
        -ms-transform: translateX(-900px);
            transform: translateX(-900px);
    -webkit-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0px 0px 0px 0px;
    background-color: rgba(76, 76, 76, 0.8);
    z-index: 30;
  }

  .header__navigation .navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    font-size: 21px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    height: 100%;
  }

  .header__navigation .navbar.active {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0px 0px 0px 0px;
    background-color: rgba(76, 76, 76, 0.8);
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    z-index: 30;
    -webkit-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
  }

  .header__navigation .navbar.active ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    font-size: 21px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    height: 100%;
  }

  .header__navigation .navbar.active ul #marker_2 {
    display: block;
    position: absolute;
    height: 0;
    width: 100%;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin: 1px 0px 0px 0px;
    background-color: #7c7c7c;
  }

  .header__navigation .navbar.active ul a {
    padding: 15px 15px;
    font-size: 36px;
    -webkit-animation: showMenu 2s ease-in-out;
            animation: showMenu 2s ease-in-out;
  }

  .header__navigation .navbar.active .socialLogo {
    margin: 20px 0 50px 0;
  }

  .header__navigation .navbar.active .socialLogo ul {
    width: 100%;
    padding: 0;
  }

  .header__navigation .navbar.active .socialLogo ul #marker_2 {
    display: none;
  }

  .header__navigation .navbar.active .socialLogo ul li a {
    padding: 0;
  }

  .header__navigation #hamburger {
    position: absolute;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 3% 6px 0px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    -webkit-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
    border: 2px solid white;
    border-radius: 5px;
    z-index: 100;
  }

  .header__navigation #hamburger__line {
    height: 2px;
    width: 30px;
    background-color: white;
    -webkit-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
  }

  .header__navigation #hamburger div:nth-child(1) {
    margin: 3px 0px 0px 0px;
  }

  .header__navigation #hamburger div:nth-child(2) {
    -webkit-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
  }

  .header__navigation #hamburger div:nth-child(3) {
    margin: 0px 0px 3px 0px;
  }

  .header__navigation #hamburger.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    position: fixed;
    right: 0;
    -webkit-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .header__navigation #hamburger.open div:nth-child(1) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: 0%;
    position: absolute;
    -webkit-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
  }

  .header__navigation #hamburger.open div:nth-child(2) {
    display: none;
    -webkit-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
  }

  .header__navigation #hamburger.open div:nth-child(3) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 0%;
    position: absolute;
    -webkit-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
  }

  .header__navigation .navbar ul #marker {
    display: none;
  }

  .header__main {
    padding: 0 2%;
  }

  .header__main h1 {
    font-size: 65px;
  }

  .header__main .header__buttonForm {
    padding: 55px 0px 95px 0px;
  }

  .header__main .header__buttonForm .button {
    margin: 10px auto;
  }

  .footer .footerBody {
    margin: 20px auto;
  }

  .footer .footerBody__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer .footerBody__row .footerBody__column {
    margin: 70px 0px 0px 0px;
  }
}

@media (max-width: 600px) {
  .section5__row .section5__column .margin30 {
    margin: 0;
  }

  .section5__row .section5__column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .section5__row .section5__column .rightFood {
    margin: 40px 4%;
  }

  .section5__row .section5__column .rightFood h2 {
    line-height: 36px;
  }

  .section5__row .section5__column .rightFood__about {
    margin: 5px 8% 0px 8%;
  }
}

@media (max-width: 480px) {
  .header__main h1 {
    font-size: 50px;
  }

  .section2__ingredients .fineIngredients h2 {
    font-size: 32px;
  }

  .section2__ingredients .fineIngredients p {
    margin: 30px 5% 0px 5%;
  }

  .section2__ingredients .fineIngredients .blockImages {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 110px;
    margin: 30px auto;
  }

  .section2__ingredients .fineIngredients .blockImages img {
    margin: 10px 0px;
  }

  .section5__row .section5__column .rightFood__registrationForm {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .section5__row .section5__column .rightFood__registrationForm .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    padding: 0;
  }

  .section5__row .section5__column .rightFood__registrationForm .form .form__up,
  .section5__row .section5__column .rightFood__registrationForm .form .form__down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 450px) {
  .section3__menu .menu__row .menu__column {
    margin: 0px 5%;
  }

  .section3__menu .menu__row .menu__column .nameOfDishes .menuAbout .special {
    margin: 0px 3%;
    max-width: 100%;
    height: 90px;
  }
}